<%- include('../includes/sidebar.ejs') %>
<%- include('../includes/header.ejs') %>

<body>
    <section class="home-section">
        <%- include('../includes/nav.ejs') %>
        <div class="container mt-2">
            <%- include('../includes/alerts.ejs') %>

            <div class="row text-center mx-auto">
                <h2>Catalogo de productos</h2>
            </div>
            
            <div class="row">
                <div class="col-12">
                    <h3>Realizar Pedidos</h3>
                    <div id="formOrder" class="container-fluid px-lg-5 px-3 mb-4 h-orders-fix">
                        <input type="text" value="<%=doc_title%>" name="module" hidden> <!-- No eliminar permite obtener el nombre de la pagina actual -->
                    </div>
                </div>
                <div class="col col-md-6 col-lg-4 mx-auto form-group">
                    <button class="btn btn-outline-primary btn-block d-none" id="orderNow">Realizar Orden</button>
                </div>
            </div>
            
            <div class="row text-center pb-sm-5">
                <table id="inventoryTable" data-column-orderable="1, 1, 0, 0" class="data-table table table-lg table-striped px-lg-4 px-md-2">
                    <thead class="thead">
                        <tr>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Unidad</th>
                            <th class="text-center">Cantidad</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <% if (data) { %>
                        <% for (let i in data) { %>
                        <tr>
                            <td class="text-center"><%= data[i].name %></td>
                            <td class="text-center"><%= data[i].unit %></td>
                            <td class="text-center"><%= data[i].quantity %></td>
                            <td class="text-center">
                                <button class="btn btn-success btnAddItem" data-id="<%= data[i]._id %>">
                                    <ion-icon name="receipt-outline" class="pr-1"></ion-icon> Agregar Pedido
                                </button>
                            </td>
                        </tr>
                        <% } %>
                    <% } else { %>
                        <tr>
                            <td colspan="4">
                                No hay inventario disponible
                            </td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <%- include('../includes/foot.ejs') %>
    </section>

<%- include('../includes/scripts.ejs') %>

<script src="/js/orders.js"></script>

<%- include('../includes/footer.ejs') %>