<%- include('../includes/sidebar.ejs') %>
<%- include('../includes/header.ejs') %>

<body class="bodycolor">
    <section class="home-section">
        <%- include('../includes/nav.ejs') %>
        <div class="container mt-4">
            <%- include('../includes/alerts.ejs') %>

                    <div class="container-fluid pt-4 mt-4">
                        <div class="subcontenedor">                       
                            <div class="bloque activo">
                            <div class="justify-content-center">                    

                                <table id="inventoryTable" data-column-orderable="1, 1, 0, 1, 1, 0" class="w-100 data-table table table-lg table-striped">
                                    <thead class="thead">
                                        <tr>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Apellido</th>
                                            <th scope="col">Usuario</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Rol</th>
                                            <th scope="col">Rancho</th>                                            
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% usuarios.forEach(usuario => { %>
                                        <tr>
                                            <td><%= usuario.name %> </td>
                                            <td><%= usuario.lastname %> </td>
                                            <td><%= usuario.username %> </td>
                                            <td><%= usuario.email %> </td>
                                            <td><%= usuario.role %> </td>
                                            <td><%= usuario.ranch %> </td>                                            
                                        </tr>
                                        <% }); %>
                                   
                                    </tbody>
                                    <caption class="pl-2">Lista de usuarios</caption>
                                </table>
                            </div>
                            </div>
                        </div>        
                    </div>
        </div>
        <br>
        <%- include('../includes/foot.ejs') %>
    </section>

<%- include('../includes/scripts.ejs') %>
<%- include('../includes/footer.ejs') %>