
    <% if(user.role =="administrador"){%>
        <nav class="navbar navcolor navbar-expand-lg" style="z-index: 100;">
            <div class="container-fluid">
              <div class="collapse  navbar-collapse" id="navbarNavDropdown" >
                <div>
                  <a class="nav-link" href="/admin"  data-toggle="tooltip" title="Ventana de inicio" <%if(doc_title == "Administrador"){%> id="namecolor" <%}%>>Inventario principal</a>
                </div>
              
            <div>
              <a class="nav-link" href="/admin/allusers" data-toggle="tooltip" title="Ver los usuarios registrados" <%if(doc_title == "Usuarios"){%> id="namecolor" <%}%>>Usuarios</a>
            </div>
            <div>
              <a class="nav-link" href="/catalogue" data-toggle="tooltip" title="Ver el catalogo de productos habituales" <%if(doc_title == "Catalogo principal"){%> id="namecolor" <%}%>>Catalogo Principal</a>
            </div>
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="tooltip" title="Ver los inventarios de los ranchos existentes" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Ranchos</a>
                <ul class="dropdown-menu">

                  <% ranches.forEach(ranch => { %>

                    <li><a class="dropdown-item" href="/admin/ranchos/<%=ranch._id%>"><%= ranch.ranch_name %></a></li>

                  <% }); %>
  
                </ul>
            </div>
                
                <div style="padding: left;">
                
              </div>
                  </ul>
                </li>
              </div>
              <div style="padding: left;">
                <ul class="navbar-nav">
                  <!-- Notification dropdown -->
                  <li>
                    <a
                      data-toggle="tooltip" title="ver las ordenes registradas"
                      class="nav-link color-not hidden-arrow "
                      href="/orders-done"
                      id="navbarDropdownMenuLink"
                      role="button"
                      data-mdb-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="fas fa-bell"></i>
                      <span class="badge rounded-pill badge-notification bg-danger"><%=contAdmin[0].status%> </span>
                    </a>
                  </li>
                  <!-- Notification dropdown -->
                </ul>
                
              </div>
            </div>
          </nav>
<%} else if(user.role=="coordinador"){%>
  <nav class="navbar navcolor navbar-expand-lg">
    <div class="container-fluid">
      <div class="collapse  navbar-collapse" id="navbarNavDropdown" >
        <div>
          <a class="nav-link" href="/coordinator"  <%if(doc_title == "Coordinador"){%> id="namecolor" <%}%>>Inventario <%=user.ranch%></a>
        </div>
      
    <div>
      <a class="nav-link" href="/coordinator/employees"  <%if(doc_title == "Usuarios"){%> id="namecolor" <%}%>>Usuarios</a>
    </div>
    <div>
      <a class="nav-link" href="/catalogue" <%if(doc_title == "Catalogo principal"){%> id="namecolor" <%}%>>Catalogo Principal</a>
    </div>
        
        <div style="padding: left;">
        
      </div>
          </ul>
        </li>
      </div>
      <div style="padding: left;">
        <ul class="navbar-nav">
          <!-- Notification dropdown -->
          <li>
            <a
              class="nav-link color-not hidden-arrow "
              href="/orders-done"
              id="navbarDropdownMenuLink"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fas fa-bell"></i>
              <span class="badge rounded-pill badge-notification bg-danger"><%=contCoord[0].status%> </span>
            </a>
          </li>
          <!-- Notification dropdown -->
        </ul>
        
      </div>
    </div>
  </nav>
<%}else if(user.role=="usuario"){%>

  <nav class="navbar navcolor navbar-expand-lg">
    <div class="container-fluid">
      <div class="collapse  navbar-collapse" id="navbarNavDropdown" >
        <div>
          <a class="nav-link" href="/user"  <%if(doc_title == "Usuario"){%> id="namecolor" <%}%>>Inventario <%=user.ranch%></a>
        </div>    
    <div>
      <a class="nav-link" href="/catalogue" <%if(doc_title == "Catalogo principal"){%> id="namecolor" <%}%>>Catalogo Principal</a>
    </div>
        
        <div style="padding: left;">
          
      </div>
          </ul>
        </li>
      </div>
    </div>
  </nav>
<%};%>