<%- include('includes/sidebar.ejs') %>
<%- include('includes/header.ejs') %>

<body>
    <section class="home-section">
        <%- include('includes/nav.ejs') %>

<div class="container-fluid pt-4 mt-4">
    <div class="container mt-4">
    <div class="subcontenedor">
        <div class="bloque activo">
          <div class="justify-content-center row">
            <%- include('includes/alerts.ejs') %>

            <h2>Pedidos realizados:</h2>
                <table id="inventoryTable" data-column-orderable="1, 1, 1, 1, 1, 0" class="w-100 data-table table table-striped">
                    <thead class="thead">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Rancho</th>                            
                            <th scope="col">Fecha</th>
                            <th scope="col">Estatus</th>
                            <th colspan="2">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% ordersH.forEach(data => { %>
                            
                            <tr id="id-<%=data._id%>">
                                
                                <td><%=data._id%> </td>
                                <td><%= data.userOrder %> </td>
                                <td><%= data.userRanch %> </td>
                                <td><%= moment(data.order_date).format('D MMMM YYYY, h:mm a') %> </td>
                                <td <%if(data.status == "Pendiente a revisión"){%> 
                                    id="pen"
                                    <%}else if(data.status == "Aceptada"){%> id="aceptado"
                                    <%}else if(data.status == "Solicitado"){%> id="sol"
                                    <%}else if(data.status == "Rechazada"){%> id="den"<%};%>;><h5><%= data.status %><h5></td>
                                
                                <td>
                                    <a id="orderItem" class="btn btn-outline-primary btnOrder" type="button" href="/orders-done/<%=data._id%>">
                                        <ion-icon name="receipt-outline" class="pr-1"></ion-icon>Ver información
                                    </a>
                                </td>
                                
                            </tr>
                            
                            <% }); %> 
                    
                            

                    </tbody>
                    <caption class="pl-2">Tabla Pedidos</caption>
                </table>
          </div>
        </div>
    </div>
</div> 

</div>
<br>
<%- include('includes/foot.ejs') %>
    </section>

<%- include('includes/scripts.ejs') %>

<%- include('includes/footer.ejs') %>