<%- include('includes/sidebar.ejs') %>
<%- include('includes/header.ejs') %>

<body>

    <div class="container mt-4">

<div class="container-fluid pt-4 mt-4">
    <a href="#" onclick="window.history.back()" class="btn btn-outline-dark btn-sm mb-4">
                <i class='bx bx-arrow-back pr-1'></i>Regresar
            </a>
    <div class="subcontenedor">
        <div class="bloque activo">
          <div class="justify-content-center row">
            
            <h2>Informacion del pedido #<%=orderid._id%>: </h2>
            <div class="card-body">
                <form action="/editstatus/<%=orderid._id%>?_method=PUT" method="POST">
                    
                    <div class="form-group">
                        <label>Material: </label>
                        <input type="text" class="form-control" name="reqName" value="<%= orderid.pdOrd%>" readonly>
                    </div>
                    <div class="form-group">
                        <label>Descripción del material </label>
                        <input type="text" class="form-control" name="reqDes" value="<%= orderid.description%>" readonly>
                    </div>
                    <div class="form-group">
                        <label>Cantidad: </label>
                        <input type="number" class="form-control" name="reqQuantity" value="<%= orderid.qntyOrd%>" readonly>
                    </div>
                    <div class="form-group">
                        <label>Unidad de medida: </label>
                        <input type="text" class="form-control" name="reqUnit" value="<%= orderid.unit%>" readonly>
                    </div>
                    <div class="form-group">
                        <label>Nota: </label>
                        <br>
                        <textarea name="" id="" cols="30" rows="5" disabled><%=orderid.noteOrd%></textarea>
                    </div>
                    <div class="form-group">
                        <label>Usuario: </label>
                        <input type="text" class="form-control" name="reqUser" value="<%= orderid.userOrder%>" readonly>
                    </div>
                    <div class="form-group">
                        <label>Rancho: </label>
                        <input type="text" class="form-control" name="reqRanch" value="<%= orderid.userRanch%>" readonly>
                    </div>
                    <div class="form-group">
                        <label>Estatus: </label>
                        <input type="text" class="form-control" name="" value="<%= orderid.status%>" disabled>
                    </div>

                    <% if(orderid.statusCoord){ %> 
                        <div class="form-group">
                            <label>Coordinador que realizó la acción:</label>
                            <input type="text" class="form-control" name="" value="<%= orderid.statusCoord%>" disabled>
                        </div>
                    <% } %>

                    <%if(orderid.reasonsCoord){%> 
                        <div class="form-group">
                            <details open>
                                <summary>Detalles Coordinador:</summary>
                                <p><%=orderid.reasonsCoord%></p>
                            </details>
                        </div>
                        <% } %>

                    <% if(orderid.statusAdmin){ %> 
                        <div class="form-group">
                            <label>Administrador que realizó la acción:</label>
                            <input type="text" class="form-control" name="" value="<%= orderid.statusAdmin%>" disabled>
                        </div>
                    <% } %>

                    <%if(orderid.reasonsAdmin){%> 
                        <div class="form-group">
                            <details open>
                                <summary>Detalles Administrador:</summary>
                                <p><%=orderid.reasonsAdmin%></p>
                            </details>
                        </div>
                        <% } %>

                    <% if(orderid.status == 'En camino' && user.role == 'administrador') {%>
                        <div class="form-group">
                            <label for="status">Aceptar o rechazar el pedido</label>
                            <select name="newStatus" id="status" onchange="changeStatus()">
                                <option value="No"></option>
                                <option value="Aceptar">Aceptar</option>
                                <option value="Rechazar">Rechazar</option>
                            </select>
                            <br>
                            <label for="decline" id="lbldecline" hidden>Indique las razones por las que se acepta o rechaza este pedido: </label>
                            <br id="salto" hidden>
                            <textarea name="reasons" id="decline" cols="30" rows="5" hidden></textarea>
                        </div>
                        
    
                        <div class="form-group">
                            <button class="btn btn-dark btn-block" id="Gdisabled" disabled>Guardar</button>
                        </div>                    
                    <% } else if(
                            user.role != 'usuario' && //El rol actual es diferente de 'usuario'
                            user.username != orderid.userOrder && //El nombre de usuario actual es diferente de quien hizo la orden
                            user.username != orderid.statusCoord &&
                            user.username != orderid.statusAdmin &&
                            orderid.status != 'Aceptada' //El status es diferente de 'Aceptada'
                        ){ %>
                    <div class="form-group">
                        <label for="status">Aceptar o rechazar el pedido</label>
                        <select name="newStatus" id="status" onchange="changeStatus()">
                            <option value="No"></option>
                            <option value="Aceptar">Aceptar</option>
                            <option value="Rechazar">Rechazar</option>
                        </select>
                        <br>
                        <label for="decline" id="lbldecline" hidden>Indique las razones por las que se acepta o rechaza este pedido: </label>
                        <br id="salto" hidden>
                        <textarea name="reasons" id="decline" cols="30" rows="5" hidden></textarea>
                    </div>
                    

                    <div class="form-group">
                        <button class="btn btn-dark btn-block" id="Gdisabled" disabled>Guardar</button>
                    </div>                    
                    <% } %> 
                </form>

                
                
            </div>
        </div>
          </div>
        </div>
    </div>
</div> 

</div>

</body>

<%- include('includes/scripts.ejs') %>

<script src="/js/selectOrders.js"></script>

<%- include('includes/footer.ejs') %>