<%- include('includes/sidebar.ejs') %>
<%- include('includes/header.ejs') %>

<body>

    <div class="container mt-4">

<div class="container-fluid pt-4 mt-4">
    <a href="#" onclick="window.history.back()" class="btn btn-outline-dark btn-sm mb-4">
                <i class='bx bx-arrow-back pr-1'></i>Regresar
            </a>
    <div class="subcontenedor">
        <div class="bloque activo">
          <div class="justify-content-center row">
            
            <h2>Informacion del pedido:</h2>
                <table id="inventoryTable" data-column-orderable="1, 1, 1, 0" class="w-100 data-table table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            
                            <th scope="col">Material</th>                        
                            <th scope="col">Cantidad</th>
                            <th scope="col">Notas</th>
                            <th scope="col">Estatus</th>
                            <th scope="col">Acciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        
                        <% if(orderid){%> 
                            <tr id="id-<%=orderid._id%>">

                                <td><%= orderid.pdOrd %> </td>
                                <td><%= orderid.qntyOrd %> </td>
                                <td><%= orderid.noteOrd %> </td>
                                <td><%= orderid.status %> </td>
                                <td><a type="button" class="btn btn-outline-primary my-2 my-sm-0" href="/user/editstatus/<%= orderid._id%>"><i class='bx bxs-edit' ></i>Estatus</a></td>
                                
                            </tr>
                            <% }; %> 
                            
                    
                            

                    </tbody>
                    <caption class="pl-2">Tabla Informacion sobre el pedido #<%=orderid._id%> </caption>
                </table>
          </div>
        </div>
    </div>
</div> 

</div>

</body>

<%- include('includes/scripts.ejs') %>

<%- include('includes/footer.ejs') %>