<%- include('includes/sidebar.ejs') %>
<%- include('includes/header.ejs') %>

<body>

    <div class="container mt-4">

<div class="container-fluid pt-4 mt-4">
    <a href="#" onclick="window.history.back()" class="btn btn-outline-dark btn-sm mb-4">
                <i class='bx bx-arrow-back pr-1'></i>Regresar
            </a>
    <div class="subcontenedor">
        <div class="bloque activo">
          <div class="justify-content-center row">
            
            <h2>Informacion del pedido:</h2>
                <table id="inventoryTable" data-column-orderable="1, 1, 1, 0" class="w-100 data-table table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            
                            <th scope="col">Material</th>                        
                            <th scope="col">Cantidad</th>
                            <th scope="col">Notas</th>
                            <th scope="col">Estatus</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Rancho</th>
                            <th scope="col">Fecha</th>
                            <th colspan="2">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                            <% for(let i = 0; i<orderid.items.length; i++){ %> 
                            <tr id="id-<%=orderid._id%>">
                                
                                <td><%= orderid.items[i].pdOrd %></td>
                                <td><%= orderid.items[i].qntyOrd %></td>
                                <td><%= orderid.items[i].noteOrd %></td>
                                <td><%= orderid.status %> </td>
                                <td><%= orderid.userOrder %> </td>
                                <td><%= orderid.userRanch %> </td>
                                <td><%= orderid.order_date %> </td>
                                
                                <td>
                                    <a id="orderItem" class="btn btn-outline-dark btnOrder" type="button" href="#">
                                        <ion-icon name="receipt-outline" class="pr-1"></ion-icon> Pedido
                                    </a>
                                </td>
                                
                            </tr>
                            <% } %> 
                            
                    
                            

                    </tbody>
                    <caption class="pl-2">Tabla Informacion sobre el pedido #<%=orderid._id%> </caption>
                </table>
          </div>
        </div>
    </div>
</div> 

</div>

</body>

<%- include('includes/scripts.ejs') %>

<%- include('includes/footer.ejs') %>