<%- include('includes/sidebar.ejs') %>
<%- include('includes/header.ejs') %>

<body>
    <section class="home-section">
        <%- include('includes/nav.ejs') %>
    <div class="container mt-4">

<div class="container-fluid pt-4 mt-4">
    <a href="#" onclick="window.history.back()" class="btn btn-outline-dark btn-sm mb-4">
        <i class='bx bx-arrow-back pr-1'></i>Regresar
    </a>
    <div class="subcontenedor">
        <div class="bloque activo">
          <div class="justify-content-center row">

            <h2>Historial material usado</h2>
                <table id="inventoryTable" data-column-orderable="1,1, 1, 1, 0, 0, 0, 0, 1, 0" class="w-100 data-table table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            
                            <th scope="col">ID</th>
                            <th scope="col">Material</th>
                            <th scope="col">Rancho</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Unidad de medida</th>
                            <th scope="col">Cantidad inicial</th>
                            <th scope="col">Cantidad registrada</th>
                            <th scope="col">Cantidad resultante</th>
                            <th scope="col">Tipo de uso</th>
                            
                            
                        </tr>
                    </thead>
                    <tbody>
                        
                        <% uses.forEach(data =>{ %> 
                            <tr>
                                <td><%=data._id%> </td>
                                <td><%=data.name%> </td>
                                <td><%=data.ranch_owner%> </td>
                                <td><%=data.modify_date%> </td>
                                <td><%=data.user%> </td>
                                <td><%=data.unit%> </td>
                                <td><%=data.old_quantity%> </td>
                                <td><%=data.registered_qnty%> </td>
                                <td><%=data.new_quantity%> </td>
                                <td><%=data.type_action%> </td>
                                
                            </tr>
                            
                        <% }) %> 

                    </tbody>
                    <caption class="pl-2">Tabla materiales usados</caption>
                </table>
          </div>
        </div>
    </div>
</div> 

</div>
<br>
<%- include('includes/foot.ejs') %>
    </section>

<%- include('includes/scripts.ejs') %>

<%- include('includes/footer.ejs') %>