<%- include('../includes/sidebar.ejs') %>
<%- include('../includes/header.ejs') %> 

<body>

    <section class="home-section">
        <%- include('../includes/nav.ejs') %> 
        <%- include('../includes/alerts.ejs') %> 
                <div class="row pt-4 mt-4">
                    <div class="col-md-8 mx-auto pb-4 mb-4">
                        <h2>Inventario: <%= doc_title %>  </h2>
                        <div class="subcontenedor">
                            <div class="bloque activo">
                              <div class="justify-content-center row">
                                <table id="inventoryTable" data-column-orderable="1, 1, 0, 1, 1" class="w-100 data-table table table-lg table-striped">
                                    <thead class="thead">
                                        <tr>
                                            <th scope="col">Rancho</th>
                                            <th scope="col">Materia Prima</th>
                                            <th scope="col">Descripcion</th>
                                            <th scope="col">Unidad de medida</th>
                                            <th scope="col">Cantidad</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% stockid.forEach(stock => { %> 
                                            <tr id="id-<%= stock._id%>">
                                                <td><%= stock.ranch_owner %> </td>
                                                <td><%= stock.name %> </td>
                                                <td><%= stock.description %> </td>
                                                <td><%= stock.unit %> </td>
                                                <td><%= stock.quantity %> </td>                                                
                                            </tr>
                                            <% }); %> 
                                    
                                        
                                    </tbody>
                                    <caption class="pl-2">Inventario del rancho <%= doc_title %> </caption>
                                </table>
                    </div>
                </div>
                        </div>
                    </div></div></div>

        <br>
        <%- include('../includes/foot.ejs') %>
    </section>


<%- include('../includes/scripts.ejs') %>

<%- include('../includes/footer.ejs') %>