<%- include('../includes/sidebar.ejs') %>
<%- include('../includes/header.ejs') %> 

<body>

    <section class="home-section pt-4 mt-4">
        <%- include('../includes/alerts.ejs') %> 
        
        <div class="container mt-4">
            
                <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                    <li class="nav-item"><a class="nav-link" href="/admin/allusers">Usuarios</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin">Inventario principal</a></li>
                    <li class="nav-item"><a class="nav-link" href="/catalogue">Catalogo Principal</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Ranchos</a>
                        <ul class="dropdown-menu">
            
                        <% ranches.forEach(ranch => { %>
            
                            <li><a class="dropdown-item" href="/admin/ranchos/<%=ranch._id%>"><%=ranch.ranch_name%></a></li>
            
                        <% }); %>
            
                        </ul>
                    </li>
                    
                </ul>

                    <div class="col-12">
                        <h2>Inventario: <%= doc_title %>  </h2>
                        <div class="subcontenedor">
                            <div class="bloque activo">
                              <div class="justify-content-center row">
                                <table id="inventoryTable" data-column-orderable="1, 1, 0, 1, 1, 0" class="w-100 data-table table table-lg table-striped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Rancho</th>
                                            <th scope="col">Materia Prima</th>
                                            <th scope="col">Descripcion</th>
                                            <th scope="col">Unidad de medida</th>
                                            <th scope="col">Cantidad</th>
                                            <th colspan="2">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% stockid.forEach(stock => { %> 
                                            <tr id="id-<%= stock._id%>">
                                                <td><%= stock.ranch_owner %> </td>
                                                <td><%= stock.name %> </td>
                                                <td><%= stock.description %> </td>
                                                <td><%= stock.unit %> </td>
                                                <td><%= stock.quantity %> </td>
                                                <td>
                                                    <button id="orderItem" class="btn btn-outline-dark" type="button">
                                                        <ion-icon name="receipt-outline" class="pr-1"></ion-icon> Pedido
                                                    </button>
                                                </td>
                                            </tr>
                                            <% }); %> 
                                    
                                        
                                    </tbody>
                                    <caption class="pl-2">Inventario del rancho <%= doc_title %> </caption>
                                </table>
                    </div>

        </div>
    </section>

</body>


<%- include('../includes/scripts.ejs') %>