<%- include('../includes/header.ejs') %>
<%- include('../includes/alerts.ejs') %>

<body>

    <div class="container-fluid">
        <div class="row">
            <h1>Inicio Admin</h1>
            <ul>
                <% stockid.forEach(inventario =>{ %>
                    <li><%=inventario.ranch_owner %> </li>
                <% }); %> 
            </ul>
        </div>
    </div>
    <section class="home-section pt-4 mt-4">
        <div class="container mt-2">
            <center>
            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">

                <li class="nav-item"><a class="nav-link" href="/admin">Rancho principal</a></li>

                <% ranches.forEach(ranch => { %>
                
                <li class="nav-item"><a class="nav-link" href="/admin/ranchos/<%=ranch._id%>"><%=ranch.ranch_name%></a></li>
                
                <% }); %>
            </ul>

            <div class="subcontenedor">
                <div class="bloque activo">
                  <div class="justify-content-center row">
            <table class="table">
                <thead>
                    <tr>
                        <th>Rancho</th>
                        <th>Materia Prima</th>
                        <th>Descripcion</th>
                        <th>Unidad de medida</th>
                        <th>Cantidad</th>
                    <th colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% stockid.forEach(stock => { %> 
                        <tr>
                            <td><%= stock.ranch_owner %> </td>
                            <td><%= stock.name_materiaPrima %> </td>
                            <td><%= stock.description_materiaPrima %> </td>
                            <td><%= stock.unidad_medida %> </td>
                            <td><%= stock.quantity %> </td>
                        </tr>
                        <% }); %> 
                   
                    
                </tbody>
                </table>
                
            </div>
        </div>
    </div>
            
</div>
    </section>



    
</body>


<%- include('../includes/scripts.ejs') %>