<%- include('../includes/sidebar.ejs') %>
<%- include('../includes/header.ejs') %>


<body>

    <section class="home-section">
        <%- include('../includes/nav.ejs') %>
    <div class="container mt-2">
        <%- include('../includes/alerts.ejs') %>


        <div class="row pt-4 mt-4">
            <div class="col-md-8 mx-auto pb-4 mb-4">

                <a href="/admin/allusers" class="btn btn-outline-dark btn-sm mb-4">
                    <i class='bx bx-arrow-back pr-1'></i>Regresar
                </a>

                <div class="card">
                    <div class="card-header text-center">
                        NUEVO RANCHO
                    </div>
                    <div class="card-body">
                        <form action="/admin/addranch" method="POST">
                            <div class="form-group">
                                <label>Nombre del rancho: </label>
                                <input type="text" class="form-control" name="ranch_name" placeholder="Nombre del rancho...." autofocus>
                            </div>
                            <div class="form-group">
                                <label>Ubicacion: </label>
                                <input type="text" class="form-control" name="location" placeholder="Ubicacion....">
                            </div>
                            
                            <div class="form-group">
                                <button class="btn btn-outline-primary my-2 my-sm-0 btn-block" id="Gdisabled">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
        
            </div>
        </div>

    </div>
    <br>
    <%- include('../includes/foot.ejs') %>
</section>

<%- include('../includes/scripts') %>
<%- include('../includes/footer.ejs') %>