<%- include('../includes/sidebar.ejs') %>
<%- include('../includes/header.ejs') %>


<body>

<section class="home-section pt-4 mt-4">
    <div class="container mt-2">
        <%- include('../includes/alerts.ejs') %>

        <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
            <li class="nav-item"><a class="nav-link" href="/admin/allUsers">Usuarios</a></li>
            <li class="nav-item"><a class="nav-link" href="/admin">Inventario principal</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Ranchos</a>
                <ul class="dropdown-menu">

                <% RanchsBD.forEach(rancho => { %>

                <li><a class="dropdown-item" href="/admin/ranches/<%=rancho._id%>"><%= rancho.ranch_name %></a></li>

                <% }); %>

                </ul>
            </li>

        </ul>

        <div class="row pt-4 mt-4">
            <div class="col-md-8 mx-auto pb-4 mb-4">

                <a href="/admin/allUsers" class="btn btn-outline-dark btn-sm mb-4">
                    <i class='bx bx-arrow-back pr-1'></i>Regresar
                </a>

                <div class="card">
                    <div class="card-header text-center">
                        NUEVO USUARIO
                    </div>
                    <div class="card-body">
                        <form action="/admin/addUser" method="POST">
                            <div class="form-group">
                                <label>Nombre del empleado: </label>
                                <input type="text" class="form-control" name="name" placeholder="Nombre del empleado...." autofocus>
                            </div>
                            <div class="form-group">
                                <label>Apellido del empleado: </label>
                                <input type="text" class="form-control" name="lastname" placeholder="Apellido del empleado....">
                            </div>
                            <div class="form-group">
                                <label>Nombre de usuario: </label>
                                <input type="text" class="form-control" id="userinput" name="username" placeholder="Ingresa el nombre del usuario...." maxlength="15">
                            </div>
                            <div class="form-group">
                                <label>Correo electronico: </label>
                                <input type="email" class="form-control" name="email" placeholder="Ejemplo@gmail.com....">
                            </div>
                            <div class="form-group">
                                <label>Contraseña: </label>
                                <input type="password" class="form-control" name="password" placeholder="Ingresa una contraseña....">
                            </div>
            
                            <div class="form-group">
                                <label>Rol</label>
                                <select class="custom-select" id="listRol" name="role">
                                        <option value="">Asigna un rol al usuario...</option>
                                        <option value="administrador">Administrador</option>
                                        <option value="coordinador">Coordinador</option>
                                        <option value="usuario">Usuario</option>
                                </select>
                            </div>
                            <div class="form-group" name="formulario">
                                <label>Recinto al que pertenece: </label>
                                <select class="form-control" name="ranch" id="">
                                    <option value="">Asigna el rancho al que pertenece...</option>
                                    <% RanchsBD.forEach(function(rancho){%> 
                                    <option value="<%= rancho.ranch_name %>"><%= rancho.ranch_name %> </option>
                                    <% }); %> 
                                </select>
                            </div>
            
                            <div class="form-group">
                                <button class="btn btn-dark btn-block" id="Gdisabled">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
 
</body>

<%- include('../includes/scripts') %>
<script src="/js/admin/add-user.js"></script>
<%- include('../includes/footer.ejs') %>