<%- include('../includes/header.ejs') %>
<%- include('../includes/alerts.ejs') %>


<body>

    <div class="container-fluid">
        <div class="row">
            <h1>Inicio Admin</h1>
        </div>
    </div>

    <section class="home-section pt-4 mt-4">
        <div class="container mt-2">
        <center>
            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                <% ranches.forEach(ranch => { %>
                
                <li class="nav-item"><a class="nav-link" href="/admin/ranchos/<%=ranch._id%>"><%=ranch.ranch_name%></a></li>
                
                <% }); %>
            </ul>
        </center>

            

            <div class="subcontenedor">
                <div class="bloque activo">
                  <div class="justify-content-center row">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Recinto</th>
                    <th scope="col">Medida</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Dejo Materia prima</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Se entrego</th>
                    <th colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% userRanch.forEach(usuario => { %>
                    <tr>
                        <td>
                       
                            <%=usuario.username%> 
                        
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            <%=usuario.name_ranch%> 
                        </td>
                        <td>
                            <%=usuario.role%>
                        </td>
                        <td>
                            <%=usuario.ranch%>
                        </td>
                        <td></td>

                        
                    </tr>
                    <% }); %>
                   
                    
                </tbody>
                </table>
                <caption class="pl-2 justify-content-center">Registro de materia prima entrante</caption>
            </div>
        </div>
    </div>
            
</div>
        
</div>
        
    
        </center>
    
    
    
    </section>
    <%userRanch%>
</body>

<%- include('../includes/scripts.ejs') %>
<%- include('../includes/footer.ejs') %>