<%- include('../includes/sidebar.ejs') %>
<%- include('../includes/header.ejs') %>


<body>

<section class="home-section pt-4 mt-4">
    <div class="container mt-2">
        <%- include('../includes/alerts.ejs') %>

        <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
            <li class="nav-item"><a class="nav-link" href="/admin/allusers">Usuarios</a></li>
            <li class="nav-item"><a class="nav-link" href="/admin">Inventario principal</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Ranchos</a>
                <ul class="dropdown-menu">

                <% RanchsBD.forEach(rancho => { %>

                <li><a class="dropdown-item" href="/admin/ranchos/<%=rancho._id%>"><%= rancho.ranch_name %></a></li>

                <% }); %>

                </ul>
            </li>

        </ul>

        <div class="text-center">
            <table id="inventoryTable" data-column-orderable="1, 1, 0" class="w-100 data-table table table-lg table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% catalogue.forEach((prod, i) => { %> 
                    <tr>
                        <td class="product-name" data-id="<%= i %>"><%= prod.nameProduct %></td>
                        <td class="product-description"><%= prod.descriptionProduct%></td>
                        <td><button class="btn btn-success btnOrder" data-id="<%= i %>">Agregar</button></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>

        <div>

        </div>

        <div class="row">
            <form action="">
                <h3>Pedidos</h3>
                <div id="formOrder" class="container-fluid px-lg-5 px-3 mb-4">
                </div>

                <div class="form-group">
                    <button class="btn btn-dark btn-block" id="Gdisabled">Guardar</button>
                </div>
                <br>
            </form>
        </div>
    </div>
    </section>
</body>
<%- include('../includes/scripts.ejs') %>

<!-- Se genero js en src/assets/js/admin/adminOrder.js -->
<script src="/js/admin/adminOrder.js"></script>

<%- include('../includes/footer.ejs') %>