<%- include('../includes/sidebar.ejs') %>
<%- include('../includes/header.ejs') %>


<body>

<section class="home-section pt-4 mt-4">
    <div class="container mt-2">
        <%- include('../includes/alerts.ejs') %>

        <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
            <li class="nav-item"><a class="nav-link" href="/admin/allusers">Usuarios</a></li>
            <li class="nav-item"><a class="nav-link" href="/admin">Inventario principal</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Ranchos</a>
                <ul class="dropdown-menu">

                <% RanchsBD.forEach(rancho => { %>

                <li><a class="dropdown-item" href="/admin/ranchos/<%=rancho._id%>"><%= rancho.ranch_name %></a></li>

                <% }); %>

                </ul>
            </li>

        </ul>

        <div class="text-center">
            <table id="inventoryTable" data-column-orderable="1, 1, 0" class="w-100 data-table table table-lg table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripcion</th>
                        <th colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% catalogue.forEach(prod => { %> 
                    <tr>
                        <td id="productName"><%= prod.nameProduct %></td>
                        <td id="productDescription"><%= prod.descriptionProduct%></td>
                        <td><button id="btnSave" onclick="createOrder()" class="btn-success"> Agregar </button></td>
                            
                    <% }); %> 
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <form action="">
                <h3>Pedidos</h3>
                <div id="formOrder" class="form-group">
                    
                </div>
                <div class="form-group">
                    <button class="btn btn-dark btn-block" id="Gdisabled">Guardar</button>
                </div>
                <br>
            </form>
        </div>
    </div>
    </section>
    <script>
        function createOrder(){
            const formOrder = document.getElementById('formOrder'); //Obtienes el div del formulario

            const product = document.getElementById('productName'); //Obtienes los valores de la tabla
            
            const labelProduct = document.createElement('label'); //Crea una etiqueta
            labelProduct.textContent = 'Nombre: '; //Definimos el texto de la etiqueta
            const inputProduct = document.createElement('input'); //Crea un input
            inputProduct.name = 'nameProduct'; //Defines la propiedad name del elemento
            inputProduct.value = product.textContent; //Defines la propiedad value del elementos

            const labelQuant = document.createElement('label');
            labelQuant.textContent = ' Cantidad: ';
            const inputQuant = document.createElement('input');

            const labelTxtA = document.createElement('label');
            labelTxtA.textContent = ' Comentarios: ';
            const txtAreaDes = document.createElement('textarea');

            const hr = document.createElement('hr');//Crea un salto de linea

            formOrder.appendChild(labelProduct);//Agrega el elemento creado dentro del div de form
            formOrder.appendChild(inputProduct);

            formOrder.appendChild(labelQuant);
            formOrder.appendChild(inputQuant);

            formOrder.appendChild(labelTxtA);
            formOrder.appendChild(txtAreaDes);

            formOrder.appendChild(hr);

            console.log(inputProduct);
            console.log(product);
        }
    </script>
</body>
<%- include('../includes/scripts.ejs') %>
<%- include('../includes/footer.ejs') %>