<%- include('../includes/header.ejs') %>
<%- include('../includes/alerts.ejs') %>


<body>

    <div class="container-fluid">
        <div class="row">
            <h1>Inicio Admin</h1>
        </div>
    </div>

    <section class="home-section pt-4 mt-4">
        <div class="container mt-2">
        <center>
            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                
                <li class="nav-item"><a class="nav-link" href="/admin">Rancho principal</a></li>

                <% ranches.forEach(ranch => { %>
                
                <li class="nav-item"><a class="nav-link" href="/admin/ranchos/<%=ranch._id%>"><%=ranch.ranch_name%></a></li>
                
                <% }); %>
            </ul>
        

            

            <div class="subcontenedor">
                <div class="bloque activo">
                  <div class="justify-content-center row">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Email</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Rancho</th>
                    <th scope="col">Ubicacion</th>
                    <th colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% usuarios.forEach(usuario => { %>
                    <tr>
                        <td><%= usuario.name %> </td>
                        <td><%= usuario.lastname %> </td>
                        <td><%= usuario.username %> </td>
                        <td><%= usuario.email %> </td>
                        <td><%= usuario.role %> </td>
                        <td><%= usuario.ranch %> </td>
                        <% if(usuario.results == ''){ %> 
                            <td>No existe</td>
                        <% } else {%> 
                        <td><%= usuario.results[0].location %> </td>
                        <% } %> 
                    </tr>
                    <% }); %>
                   
                    
                </tbody>
                </table>
                
            </div>
        </div>
    </div>
            
</div>
        
</div>
        
    
        
    
    
    
    </section>
</body>

<%- include('../includes/scripts.ejs') %>
<%- include('../includes/footer.ejs') %>