<%- include('../includes/sidebar.ejs') %>
<%- include('../includes/header.ejs') %>

<body>
    <section class="home-section pt-4 mt-4">
        <div class="container mt-4">
            <%- include('../includes/alerts.ejs') %>
            
            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                <li class="nav-item"><a class="nav-link" href="/admin/allusers">Usuarios</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin">Inventario principal</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Ranchos</a>
                    <ul class="dropdown-menu">

                    <% ranches.forEach(ranch => { %>

                    <li><a class="dropdown-item" href="/admin/ranchos/<%=ranch._id%>"><%= ranch.ranch_name %></a></li>

                    <% }); %>

                    </ul>
                </li>
            </ul>

                    <div class="container-fluid pt-4 mt-4">
                        <div class="subcontenedor">                       
                            <div class="bloque activo">
                            <div class="justify-content-center">
                                
                                    <div class="container-fluid row">
                                        <div class="col-2">
                                            <a href="/admin/adduser" class="btn btn-outline-info mb-4">
                                                <i class='bx bxs-user-plus' ></i>
                                                Nuevo Usuario
                                            </a>
                                        </div>
                                        <div class="col-2">
                                            <a href="/admin/addranch" class="btn btn-outline-success mb-4">
                                                <i class='bx bx-spa'></i>
                                                Nuevo Rancho
                                            </a>
                                        </div>
                                        <div class="col-2">
                                            <a href="/admin/addstock" class="btn btn btn-outline-dark mb-4">
                                                <i class='bx bxs-cart-add' ></i>
                                                Nueva Materia priama
                                            </a>
                                        </div>
                                    </div>

                                <table id="inventoryTable" data-column-orderable="1, 1, 0, 1, 1, 0" class="w-100 data-table table table-lg table-striped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Apellido</th>
                                            <th scope="col">Usuario</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Rol</th>
                                            <th scope="col">Rancho</th>
                                            <th scope="col">Ubicacion</th>
                                            <th colspan="2">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% usuarios.forEach(usuario => { %>
                                        <tr>
                                            <td><%= usuario.name %> </td>
                                            <td><%= usuario.lastname %> </td>
                                            <td><%= usuario.username %> </td>
                                            <td><%= usuario.email %> </td>
                                            <td><%= usuario.role %> </td>
                                            <td><%= usuario.ranch %> </td>
                                            <% if(usuario.results == ''){ %> 
                                                <td>No existe</td>
                                            <% } else {%> 
                                            <td><%= usuario.results[0].location %> </td>
                                            <% } %>
                                            <td>
                                                <div class="btn-group dropstart">
                                                    <button type="button" class="btn btn-outline-secondary dropdown-toggle opts"
                                                        data-bs-toggle="dropdown" aria-expanded="false" >
                                                        <i class="fa-solid fa-list"></i>
                                                    </button>
                                                    
                                                    <ul class="dropdown-menu">
                                                        <center>
                                                        <li>
                                                            <a type="button" style="text-align:center" class="btn btn-outline-primary my-2 my-sm-0" href="/admin/adduser"><i class='bx bxs-edit' ></i>Agregar</a>
                                                            <input type="hidden" name="_method" value="delete">
                                                        </li>
                                                        </center>
                                                        
                                                        <li><hr class="dropdown-divider"></li>
                                                        <center>
                                                        <li>
                                                            <a type="button" class="btn btn-outline-primary my-2 my-sm-0" href="/admin/edituser/<%= usuario._id%>"><i class='bx bxs-edit' ></i>Editar</a>
                                                            <input type="hidden" name="_method" value="delete">
                                                        </li>
                                                        </center>
                                                        <li><hr class="dropdown-divider"></li>
                                                        <center>
                                                        <li>
                                                            <form action="deleteuser/<%= usuario._id%>?_method=delete" method="post">
                                                                <button type="submit" class="btn btn-outline-danger my-2 my-sm-0"><ion-icon name="trash-outline"></ion-icon> Eliminar</button>
                                                            </form>
                                                        </li>
                                                        </center>
                                                    </ul>
                                                
                                                </div>
                                        </td>
                                        </tr>
                                        <% }); %>
                                   
                                    </tbody>
                                    <caption class="pl-2">Lista de usuarios</caption>
                                </table>
                            </div>
                            </div>
                        </div>        
                    </div>
        </div>
    </section>
</body>
<%- include('../includes/scripts.ejs') %>
<%- include('../includes/footer.ejs') %>