<%- include('../includes/sidebar.ejs') %>
<%- include('../includes/header.ejs') %>


<body>
    <section class="home-section">
        <%- include('../includes/nav.ejs') %>
        <nav class="navbar navbar-expand-lg" style="background-color: #e0dede;">
            <div class="container-fluid">
                <li class="nav-item"><a class="nav-link" href="/catalogue">Catalogo Principal</a></li>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
              </div>
            </div>
          </nav>

    <%};%>
        

    <div class="container mt-2">
        <%- include('../includes/alerts.ejs') %>

        <h2>Catalogo de productos</h2>
        <% switch(user.role){
            case 'administrador': %> 

       
        <% break

        case 'coordinador': %>
            <!-- Añadir las diferentes rutas para el coordinador como usuarios, inventario etc. -->
        <% break

        case 'usuario': %>
            <!-- Hacer lo mismo que con el coordinador -->
        <%break
         } %> 

        <% if (user.role == 'administrador') { %> 
        <div class="container-fluid row">
            
            <div class="col-2">
                <a href="/admin/maincatalogue" class="btn btn-outline-success mb-4">
                    <i class='bx bx-spa'></i>
                    Agregar producto al catalogo
                </a>
            </div>

        </div>
        <% } %> 
        
        <div class="text-center">
            <table id="inventoryTable" data-column-orderable="1, 1, 0" class="w-100 data-table table table-lg table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% catalogue.forEach((prod, i) => { %> 
                    <tr>
                        <td class="product-name" data-id="<%=i%>"><%= prod.nameProduct %></td>
                        <td class="product-description"><%= prod.descriptionProduct%></td>
                        <td><button class="btn btn-outline-primary my-2 my-sm-0 btnOrder" data-id="<%=i%>">Agregar</button></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>

        <div>

        </div>

        <% if(user.role != 'administrador'){ %>
        <div class="row">
            <form action="/add-order" method="POST">
                <h3>Realizar Pedidos</h3>
                <div id="formOrder" class="container-fluid px-lg-5 px-3 mb-4">
                    <input type="text" value="<%=doc_title%>" name="module" hidden> <!-- No eliminar permite obtener el nombre de la pagina actual -->
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-primary my-2 my-sm-0 btn-block" id="Gdisabled" disabled>Guardar</button>
                </div>
                <br>
            </form>
        </div>
        <% }%>
    </div>
    <br>
    <%- include('../includes/foot.ejs') %>
    </section>
<%- include('../includes/scripts.ejs') %>

<!-- Se genero js en src/assets/js/admin/adminorder.js -->
<script src="/js/admin/order.js"></script>

<%- include('../includes/footer.ejs') %>