<%- include('../includes/sidebar.ejs') %>
<%- include('../includes/header.ejs') %>
<%- include('../includes/alerts.ejs') %>

<body>

<section class="home-section pt-4 mt-4">
    <div class="container mt-2">

        
            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                <li class="nav-item"><a class="nav-link" href="/admin/allusers">Usuarios</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin">Inventario principal</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Ranchos</a>
                    <ul class="dropdown-menu">
    
                    <% ranches.forEach(ranch => { %>
    
                    <li><a class="dropdown-item" href="/admin/ranchos/<%=ranch._id%>"><%= ranch.ranch_name %></a></li>
    
                    <% }); %>
    
                    </ul>
                </li>

            </ul>

            <div class="row pt-4 mt-4">
                <div class="col-md-8 mx-auto pb-4 mb-4">

                <a href="/admin/allusers" class="btn btn-outline-dark btn-sm mb-4">
                    <i class='bx bx-arrow-back pr-1'></i>Regresar
                </a>

                    <div class="card">
                        <div class="card-header text-center">
                            EDITAR USUARIO
                        </div>
                        <div class="card-body">
                            <form action="/admin/edituser/<%= edit._id%>?_method=PUT" method="POST">
                                <% if(edit){%> 
                                
                                <div class="form-group">
                                    <label>Nombre del empleado: </label>
                                    <input type="text" class="form-control" name="name" value="<%= edit.name%>">
                                </div>
                                <div class="form-group">
                                    <label>Apellido del empleado: </label>
                                    <input type="text" class="form-control" name="lastname" value="<%= edit.lastname%>">
                                </div>
                                <div class="form-group">
                                    <label>Nombre de usuario: </label>
                                    <input type="text" class="form-control" name="username" value="<%= edit.username%>">
                                </div>
                                <div class="form-group">
                                    <label>Correo electronico: </label>
                                    <input type="email" class="form-control" name="email" value="<%= edit.email%>">
                                </div>
                                
                                <div class="form-group">
                                    <label>Contraseña: </label>
                                    <input autocomplete="new-password" type="password" class="form-control" name="password" value="" placeholder="Ingresa una nueva contraseña....">
                                </div>
                
                                <div class="form-group">
                                    <label>Rol</label>
                                    <select class="custom-select" id="listRol" name="role" value="<%= edit.role%>">
                                            <option value="">Asigna un rol al usuario...</option>
                                            <option <%= edit.role =='administrador' ? "selected" : '' %> value="administrador">Administrador</option>
                                            <option <%= edit.role =='coordinador' ? "selected" : '' %> value="coordinador">Coordinador</option>
                                            <option <%= edit.role =='usuario' ? "selected" : '' %> value="usuario">Usuario</option>
                                    </select>
                                </div>
                                <div class="form-group" name="formulario">
                                    <label>Recinto al que pertenece: </label>
                                    <select class="custom-select" name="ranch" id="" value="<%= edit.ranch%>">
                                        <option value="">Asigna el rancho al que pertenece...</option>
                                        <option <%= edit.ranch =='Pollitos en fuga' ? "selected" : '' %> value="Pollitos en fuga">Pollitos en fuga</option>
                                        <option <%= edit.ranch =='UTNA' ? "selected" : '' %> value="UTNA">UTNA</option>
                                        <option <%= edit.ranch =='puentes' ? "selected" : '' %> value="puentes">Puentes</option>
                                        <option <%= edit.ranch =='loreto' ? "selected" : '' %> value="loreto">Loreto</option>
                                    </select>
                                </div>
                                <% }; %>
                                <div class="form-group">
                                    <button class="btn btn-dark btn-block" id="Gdisabled">Guardar</button>
                                </div>
                                
                            </form>
                        </div>
                    </div>


                </div>
            </div>


    </div>
</section>
 
</body>

<%- include('../includes/scripts') %>
<%- include('../includes/footer.ejs') %>