<%- include('../includes/sidebar.ejs') %>
<%- include('../includes/header.ejs') %>


    <section class="home-section pt-4 mt-4">
        <%- include('../includes/alerts.ejs') %>
        
        <h1 class="">Historial</h1>
    </section>    

<%- include('../includes/scripts.ejs') %>
<%- include('../includes/footer.ejs') %>