<%- include('../includes/sidebar.ejs') %>
<%- include('../includes/header.ejs') %>



<section class="home-section">
    <section class="home-section">
        <%- include('../includes/nav.ejs') %>
        <%- include('../includes/alerts.ejs') %>
        
        <h1 class="">Home (Graficas estadisticas)</h1>

        <br>
        <%- include('../includes/foot.ejs') %>
    </section>    

<%- include('../includes/scripts.ejs') %>
<%- include('../includes/footer.ejs') %>