<%- include('../includes/sidebar.ejs') %>
<%- include('../includes/header.ejs') %>
<%- include('../includes/alerts.ejs') %>


    <section class="home-section pt-4 mt-4">
        <h1 class="">Home (Graficas estadisticas)</h1>
    </section>    

<%- include('../includes/scripts.ejs') %>
<%- include('../includes/footer.ejs') %>