<%- include('../includes/sidebar.ejs') %>
<%- include('../includes/header.ejs') %>
<%- include('../includes/alerts.ejs') %>


    <section class="home-section">
                    <% if(user){%>
        

        <div class="container">
            <ul class="nav nav-tabs mb-4 pb-2" id="myTab" role="tablist">
                <li class="nav-item"><a class="nav-link" href="/infoUser/<%= user._id%>">Información</a></li>
                <li class="nav-item"><a class="nav-link" href="#">...</a></li>
            </ul>

            <form action="">
            <div class="row align-item-center">
                    <div class="col pt-4">
                        <img src="/img/profile.jpg" class="image-fluid rounded-circle d-block mx-auto btn"><!--img-profile-size-->
                    </div>

                    <div class="col d-block mx-auto mb-4">
                        <div class="row align-item-center">
                            <div class="col-16">
                                <div class="row align-item-center">
                                    <div class="col-6">
                                        <label class="mt-4">Nombre:</label>
                                        <h4 ><%= user.name%></h4>   
                                    </div>
                                    <div class="col-6">
                                        <label class="mt-4">Apellido:</label>
                                        <h4><%= user.lastname%></h4>   
                                    </div>
                                </div>
            
                                <div class="row">
                                    <div class="col-6">
                                        <label class="mt-4">Rol:</label>
                                        <h4><%= user.role%></h4>   
                                    </div>
                                    <div class="col-6">
                                        <label class="mt-4">Rancho:</label>
                                        <h4><%= user.ranch%></h4>   
                                    </div>
                                </div>
            
                                <div class="row">
                                    <div class="col">
                                        <label class="mt-4">Nombre de usuario:</label>
                                        <h4><%= user.username%></h4>   
                                    </div>
                                </div>
            
                                <div class="row">
                                    <div class="col-8">
                                        <label class="mt-4">Correo electronico:</label>
                                        <h4><%= user.email%></h4>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!--<img src="../img/profile.jpg" class="img-fluid rounded-circle float-start img-profile-size mx-auto d-block">-->
                    <% }; %>
            </div>
        </form>
        </div>
    </section>    

<%- include('../includes/scripts.ejs') %>
<%- include('../includes/footer.ejs') %>