<%- include('../includes/sidebar.ejs') %>
<%- include('../includes/header.ejs') %>


<body>
    <section class="home-section">
        <%- include('../includes/nav.ejs') %>
        <div class="row pt-4 mt-4">
            <div class="col-md-8 mx-auto pb-4 mb-4">

                <a href="/catalogue" class="btn btn-outline-dark btn-sm mb-4">
                    <i class='bx bx-arrow-back pr-1'></i>Regresar
                </a>
            
                <div class="card">
                    <div class="card-header text-center">
                        NUEVO PRODUCTO CATALOGO PRINCIPAL
                    </div>
                    <div class="card-body">
                        <form action="/admin/addmaincatalogue" method="POST">                    
                            <div class="form-group">
                                <label>Nombre Producto: </label>
                                <input type="text" class="form-control" name="nameProduct" placeholder="Nombre Producto...." required>
                            </div>
                            <div class="form-group">
                                <label>Descripción: </label>
                                <input type="text" class="form-control" name="descriptionProduct" placeholder="Descripcion...." required>
                            </div>
                            
                            <div class="form-group">
                                <label>Unidad de medida: </label>
                                <select class="form-control prod-unit" name="unit">
                                    <option value="">Seleccione la unidad</option>
                                    <option value="pza">Pieza</option>
                                    <option value="kg">Kilogramo</option>
                                    <option value="g">Gramo</option>
                                    <option value="t">Tonelada</option>
                                    <option value="l">Litro</option>
                                    <option value="ml">Mililitro</option>
                                    <option value="km">Kilometro</option>
                                    <option value="m">Metro</option>
                                    <option value="cm">Centimetro</option>
                                </select>
                            </div>
                            
                            <div class="form-group">
                                <button class="btn btn-outline-primary my-2 my-sm-0 btn-block" id="Gdisabled">Guardar</button>
                            </div>
                            
                        </form>
                    </div>
                </div>
        
            </div>
        </div>
        <br>
        <%- include('../includes/foot.ejs') %>
    </section>

<%- include('../includes/scripts.ejs') %>
<%- include('../includes/footer.ejs') %>