    <%- include('../includes/sidebar.ejs') %>
    <%- include('../includes/header.ejs') %>

    <body>

    <section class="home-section pt-4 mt-4">
        <h1>Inicio Usuario</h1>
        <div class="container mt-4">
        <%- include('../includes/alerts.ejs') %>

        <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
            
            <li class="nav-item"><a class="nav-link" href="/catalogue">Catalogo Principal</a></li>

        </ul>

            <div class="container-fluid pt-4 mt-4">
                <div class="subcontenedor">
                    <div class="bloque activo">
                        <div class="justify-content-center row">
            
                            <h2>Inventario en: <%= user.ranch %> </h2>
                            <table id="inventoryTable" data-column-orderable="1, 1, 0, 1, 1, 0" class="w-100 data-table table table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Materia prima</th>
                                        <th>Descripcion</th>
                                        <th>Cantidad</th>
                                        <th>Unidad de medida</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <% if(stockPrin != null) { %>
                                    <% stockPrin.forEach((data, i)=> { %> 
                                    <tr data-id="<%= data._id %>">
                                        <td class="product-name" data-id="<%= i %>"><%= data.name_materiaPrima %></td>
                                        <td class="product-description"><%= data.description_materiaPrima %></td>
                                        <td><%= data.quantity %></td>
                                        <td><%= data.unidad_medida %></td>
                                        <td>
                                            <button id="orderItem" class="btn btn-outline-dark btnOrder" type="button" data-id="<%= i %>">
                                                <ion-icon name="receipt-outline" class="pr-1"></ion-icon> Pedido
                                            </button>
                                        </td>
                                    </tr>
                                    <% }) %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="5">
                                            No existe información
                                        </td>
                                    </tr>
                                <% } %>
                                </tbody>
                                <caption class="pl-2">Inventario Principal</caption>
                            </table>
            
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <form action="/addorder" method="POST">
                    <h3>Realizar Pedidos</h3>
                    <div id="formOrder" class="container-fluid px-lg-5 px-3 mb-4">
                        <input type="text" value="<%=doc_title%>" name="module" hidden> <!-- No eliminar, permite obtener el nombre de la pagina actual -->
                    </div>
                    <div class="form-group">
                        <button class="btn btn-dark btn-block" id="Gdisabled">Guardar</button>
                    </div>
                    <br>
                </form>
            </div>

        </div>
    </section>

    </body>

<%- include('../includes/scripts.ejs') %>
<script src="/js/admin/Order.js"></script>