    <%- include('../includes/sidebar.ejs') %>
    <%- include('../includes/header.ejs') %>

    <body>

    <section class="home-section pt-4 mt-4">
        <h1>Inicio Usuario</h1>
        <div class="container mt-4">
        <%- include('../includes/alerts.ejs') %>


            <div class="container-fluid pt-4 mt-4">
                <div class="subcontenedor">
                    <div class="bloque activo">
                        <div class="justify-content-center row">
            
                            <h2>Inventario en: </h2>
                            <table id="inventoryTable" data-column-orderable="1, 1, 0, 1, 1, 0" class="w-100 data-table table table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Materia prima</th>
                                        <th>Descripcion</th>
                                        <th>Cantidad</th>
                                        <th>Unidad de medida</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <% if(stockPrin != null) { %>
                                    <% stockPrin.forEach(data => { %> 
                                    <tr data-id="<%= data._id %>">
                                        <td><%= data.name_materiaPrima %></td>
                                        <td><%= data.description_materiaPrima %></td>
                                        <td><%= data.quantity %></td>
                                        <td><%= data.unidad_medida %></td>
                                        <td>
                                            <button id="orderItem" class="btn btn-outline-dark" type="button">
                                                <ion-icon name="receipt-outline" class="pr-1"></ion-icon> Pedido
                                            </button>
                                        </td>
                                    </tr>
                                    <% }) %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="5">
                                            No existe información
                                        </td>
                                    </tr>
                                <% } %>
                                </tbody>
                                <caption class="pl-2">Inventario Principal</caption>
                            </table>
            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    </body>

<%- include('../includes/scripts.ejs') %>