<%- include('../includes/header.ejs') %>

<body>
    <div class="container-fluid">
        <div class="row">
            <h1>Inicio Usuario</h1>
        </div>
    </div>

    <div class="content-fluid">
        <h1>Inventario en: <%= user.ranch %> </h1>
        <div class="row w-xl-60 w-md-75 w-80 mx-auto">
            <table id="inventoryTable" data-column-orderable="1, 0, 1, 0, 0" class="w-100 data-table">
                <thead>
                    <tr>
                        <th>Materia prima</th>
                        <th>Descripcion</th>
                        <th>Cantidad</th>
                        <th>Unidad de medida</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <% if(stockUser != null) { %>
                    <% stockUser.forEach(data => { %> 
                    <tr data-id="<%= data._id %>">
                        <td><%= data.name_materiaPrima %></td>
                        <td><%= data.description_materiaPrima %></td>
                        <td><%= data.quantity %></td>
                        <td><%= data.unidad_medida %></td>
                        <td>
                            <button id="orderItem" class="btn btn-outline-primary" type="button">
                                Pedido
                            </button>
                        </td>
                    </tr>
                    <% }) %>
                <% } else { %>
                    <tr>
                        <td colspan="5">
                            No existe información
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</body>

<%- include('../includes/scripts.ejs') %>

<script src="/js/datatables.js"></script>